* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
   
}
body{
    scroll-behavior: smooth;
   background-color: whitesmoke;
}
/* navbar */
nav{
    margin: 20px
}
.navbar{
    
    display: flex;
    justify-content: center;

}
.btn-group {
    background-color: white; border-radius: 15px;
}
 .btn-group_item:hover {
color: green;
    border-bottom: 5px solid green;
}
.btn-group_item:first-child:hover{
    border-end-start-radius: 10px;
}
.btn-group_item:last-child:hover{
    border-end-end-radius: 10px;
}

.btn-group_item {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    background-color: white;
    border: none;
    margin: 2px;
    font-weight: 600;
   
}

/* main */
.main-card--cointainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  
    
}
.card-media{
    width: 100%;
     height: 100%;
     object-fit: cover;
}
.card-container {
    background-color: white;
    margin: 20px;
    padding: 30px;
}

.card-number {
    padding: 10px;
    font-size: 35px;
    border: 1px solid black;
    border-radius: 15px;
}

.card-author {
    display: block;
    font-size: 20px;
 margin: 20px 0px;
}

 h2 {
    display: block;
    font-size: 35px;
    margin: 10px 0px;
}

.card-read {
    
    text-align: right;
    font-size: 15px;
}
.line{
    margin: 10px 0px;
}
.card-read {
    letter-spacing: 5px;
    font-weight: 600;
}

.card-btn{
    padding: 10px;
    color: white;
    background-color: green;
    border: none;
}

/* Media query for screens with a maximum width of 900px */
/* @media screen and (max-width: 700px) {
    .main-card--cointainer{
        grid-template-columns: repeat(1, 1fr);
    }
     .card-container {
        margin: none;
        padding: none;
    }
    .card-number {
        font-size: none;
    }
    .card-author {
        font-size: none;
    }
    .card-read {
        font-size: none;
    }
    .card-tag{
        display: none;
    } 
} */